@import "./vars";

@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

@mixin container-1440 {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
}

@mixin container-mobile {
  max-width: $mobile-container-width;
  width: 100%;
  margin: 0 auto;
}

@mixin flex-between-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin page-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 43.2px;
  letter-spacing: -0.025em;
  color: $blue-color;

  span {
    background-color: $blue-color;
    color: #fff;
    border-radius: 22px;
    display: inline-flex;
    align-items: center;
    line-height: 43.2px;
    justify-content: center;
    width: fit-content;
    padding: 5px 18px 12px 20px;
  }
}

@mixin home-card-label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 27px;
  letter-spacing: -0.025em;
}

@mixin home-card-label-mobile {
  font-size: 22px;
  line-height: 20px;
}

@mixin home-card-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: -0.025em;
  line-height: 23.1px;
}

@mixin home-card-text-mobile {
  font-size: 16px;
  line-height: 19px;
}