@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap");
@import "./exports";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

body {
  font-family: "Inter", sans-serif;
}