@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap");
@import "./exports";
@import 'react-toastify/dist/ReactToastify.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  user-select: none;
}

ul,
li {
  list-style: none;
}