@import "../../app/styles/exports";

.footer {
  position: relative;
  .container {
    @include container;
  }

  &__yura {
    position: absolute;
    right: 37%;
    bottom: 0;
  }
}

.footerContent {
  display: flex;
  column-gap: 20px;
}
