@import "../../app/styles/exports";

.container {
  @include container;
}

.footer {
  padding: 0 30px;
}

.footerContent {
  display: flex;
  column-gap: 20px;
}

.yuraMobile {
  display: none;
}

@media screen and (min-width: 1440px) and (max-width: 1920px) {
  .footer {
    padding: 0 60px;
  }
  .container {
    @include container-1440;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .footer {
    padding: 0 45px;
  }
  .footerContent {
    column-gap: 15px;
  }
}

@media screen and (max-width: 480px) {
  .footer {
    padding: 0 15px;
    height: 639px;
    overflow: hidden;

    &__yura {
      display: none;
    }
  }
  
  .container {
    @include container-mobile;
  }

  .footerContent {
    flex-direction: column;
  }

  .yuraMobile {
    display: inline-block;
    position: absolute;
    bottom: 268px;
    left: 195px;
    z-index: 2;
  }
}