@import "app/styles/exports";

.container {
  @include container;
}

.Footer {
  padding: 0 60px;
}

.FooterContent {
  display: flex;
  column-gap: 20px;
}

.yuraMobile {
  display: none;
}

@media screen and (min-width: 1440px) and (max-width: 1920px) {
  .Footer {
    padding: 0 60px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .Footer {
    padding: 0 45px;
  }
  .FooterContent {
    column-gap: 15px;
  }
}

@media screen and (max-width: 1023px) {
  .FooterContent {
    flex-direction: column;
  }

  .Footer {
    padding: 0 30px;
  }
}

@media screen and (min-width: 640px) and (max-width: 1023px) {
  
}

@media screen and (max-width: 639px) {
  .Footer {
    padding: 0 15px;
  }
}