@import "../../app/styles/exports";

.container {
  @include container;
}

.footer {
  padding: 0 30px;
}

.footerContent {
  display: flex;
  column-gap: 20px;
}

.yuraMobile {
  display: none;
}

@media screen and (min-width: 1440px) and (max-width: 1920px) {
  .footer {
    padding: 0 60px;
  }
  .container {
    @include container-1440;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .footer {
    padding: 0 45px;
  }
  .footerContent {
    column-gap: 15px;
  }
}

@media screen and (max-width: 1023px) {
  .footerContent {
    flex-direction: column;
  }

  .footer {
    padding: 0 30px;
  }
}

@media screen and (min-width: 640px) and (max-width: 1023px) {
  
}

@media screen and (max-width: 480px) {
  .footer {
    padding: 0 15px;
  }
}