@import "../../app/styles/exports";

.navigationWrapper {
  padding: 42px 60px 0 60px;
}
.container {
  @include container;
}

.navigationInner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigationLinks {
  display: flex;
  column-gap: 47px;

  &__link {
    color: $blue-color;
    font-size: 24px;
    font-weight: 600;
    line-height: 20.89px;
    cursor: pointer;
  }
}

.navigationEntrance {
  display: flex;
  column-gap: 10px;
}

.navigationInner__vk,
.burgerMenu,
.closeNavigationMobileButton,
.entranceBtnMobile {
  display: none;
}


// === Media ===
@media screen and (min-width: 1440px) and (max-width: 1920px) {
  .navigationInner__logo {
    img {
      width: 112px;
      height: auto;
    }
  }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .navigationLinks {
    column-gap: 33px;
  
    &__link {
      font-size: 16.925px;
      line-height: 87.02%;
    }
  }

  .navigationInner__logo {
    img {
      width: 108px;
      height: 105px;
    }
  }

  .entranceBtn {
    font-size: 16.925px;
    line-height: 87.02%;
    padding: 6.34688px 19.7458px 7.75729px;
    height: auto;
  }
}

@media screen and (max-width: 1024px) {
  .navigationWrapper {
    padding-left: 0;
    padding-right: 0;
  }
  .navigationInner__vk {
      display: inline-block;
      margin-left: 45px;
  }

  .burgerMenu {
    display: flex;
    flex-direction: column;
    margin-right: 45px;
    z-index: 10;

    &__line {
      background-color: $blue-color;
    }

    .line1 {
      transform: rotate(0);
      transition: all .25s;
      margin-bottom: 0;
    }
    .line2 {
      // transform: translateX(0);
      // transition: all .25s;
      opacity: 1;
    }
    .line3 {
      transform: rotate(0);
      transition: all .25s;
      margin-top: 0;
    }
  }

  .openedNavigationBurgerMenu {
      .line1 {
        transform: rotate(225deg);
        transition: all .25s;
        margin-bottom: -16px;
      }
      .line2 {
        // transform: translateX(-10px);
        // transition: all .25s;
        opacity: 0;
      }
      .line3 {
        transform: rotate(-225deg);
        transition: all .25s;
        margin-top: -16px;
      }
  }

  .navigationLinks {
    display: inline-flex;
    padding: 105px 14px 0 55px;
    width: 100%;
    position: fixed;
    top: 0;
    height: 100%;
    background-color:#F3F8FF;
    flex-direction: column;
    row-gap: 30px;
    z-index: 10;
    transition: all .5s;
    &__link {
      font-size: 24px;
      line-height: 87.02%;
      max-width: fit-content;
    }
  }

  .closedMobileNavigation {
    transition: all .5s;
    transform: translateX(calc(-100%));
    opacity: 0;
  }

  .entranceBtnMobile {
    display: inline-block;
    width: 126px !important;
    height: auto !important;
    padding: 9px 28px 11px 28px !important;
    background-color: transparent !important;
  }

  .navigationEntrance {
    display: none;
  }
}

@media screen and (min-width: 640px) and (max-width: 1024px) {
  .navigationWrapper {
    padding-top: 22px;
  }

  .burgerMenu {
    margin-right: 30px;
  }

  .navigationInner__vk {
    margin-left: 30px;
  }

  .navigationInner__vk {
    width: 50px;
    height: 50px;
  }

  .burgerMenu {
    row-gap: 8px;

    &__line {
      width: 54px;
      height: 8px;
      border-radius: 38.6379px;
    }
  }

  .navigationInner__logo img {
    width: 121.38px;
    height: 87.17px;
  }
}

@media screen and (max-width: 639px) {
  .navigationWrapper {
    padding-top: 15px;
  }

  .burgerMenu {
    margin-right: 15px;
  }

  .navigationInner__vk {
    margin-left: 15px;
  }

  .burgerMenu {
    row-gap: 6px;

    &__line {
      width: 42px;
      height: 6px;
      border-radius: 30px;
    }
  }

  .navigationInner__vk {
    width: 39px;
    height: 39px;
  }
}

@media screen and (min-width: 480px) and (max-width: 639px) {
  .navigationInner__logo img {
    width: 94.24px;
    height: 67.69px;
  }
}

@media screen and (max-width: 479px) {
  .navigationInner__logo img {
    width: 75.44px;
    height: 54.18px;
  }
}