@import "../../app/styles/exports";

.navigationWrapper {
  padding-top: 42px;
}
.container {
  @include container;
}

.navigationInner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigationLinks {
  display: flex;
  column-gap: 47px;

  &__link {
    color: $blue-color;
    font-size: 24px;
    font-weight: 600;
    line-height: 20.89px;
    cursor: pointer;
  }
}

.navigationEntrance {
  display: flex;
  column-gap: 10px;
}

.navigationInner__vk,
.burgerMenu {
  display: none;
}


// === Media ===
@media screen and (max-width: 1440px) {
  .container {
    @include container-1440;
  }
  .navigationInner__logo {
    img {
      width: 112px;
      height: auto;
    }
  }
}

@media screen and (max-width: 480px) {
  .container {
    @include container-mobile;
  }
  .navigationInner__vk {
    display: inline-block;
    width: 39px;
    height: 39px;
  }
  .burgerMenu {
    display: flex;
    flex-direction: column;
    row-gap: 6px;

    &__line {
      width: 42px;
      height: 6px;
      border-radius: 30px;
      background-color: $blue-color;
    }
  }
  .navigationInner__logo img {
    width: 94.24px;
    height: 67.69px;
  }
  .navigationLinks,
  .navigationEntrance {
    display: none;
  }
}
