@import "../../app/styles/exports";

.contactForm {
  max-width: 606px;
  height: 625px;
  border: 3px solid $blue-color;
  border-radius: 50px;
  background: $blueLinear-color;
  padding: 44px 39px 39px 48px;
  z-index: 10;
  position: relative;
  z-index: 2;

  &__img {
    position: absolute;
    top: -156px;
    right: 0;
    z-index: 2;
  }
}

.contactInputs {
  display: flex;
  flex-direction: column;
  row-gap: 17px;
  margin-bottom: 9px;

  &__input {
    font-family: "Inter";
    width: 100%;
    height: 70px;
    border: 3px solid $blue-color;
    border-radius: 30px;
    color: $blue-color;
    font-size: 20px;
    font-weight: 600;
    padding: 25px 25px 25px 22px;
    outline: none;

    &::placeholder {
      opacity: 0.4;
      color: $blue-color;
    }
  }
}

.contactParagraph {
  font-family: "Inter";
  font-weight: 600;
  font-size: 18px;
  color: $blue-color;
  line-height: 15.66px;
  letter-spacing: -0.025em;
  margin-bottom: 15px;
  margin-left: 10px;

  span {
    text-decoration: underline;
  }
}

textarea {
  resize: none;
  height: 222px !important;
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .contactForm {
    border-radius: 35.3788px;
    padding: 33px 26px 28px 26px;
    height: auto;
  }

  .contactInputs {
    row-gap: 10px;
    &__input {
      border-radius: 21.2273px;
      padding: 15px;
    }
  }

  .contactParagraph {
    font-size: 15px;
    line-height: 100%;
    margin-bottom: 10px;
  }

  .submitButton {
      padding: 0;
      font-size: 19.8121px;
      line-height: 87.02%;
      height: 55.19px;
  }
}