.emptyChatWrapper {
    width: 64.46969697%;
    height: 701px;
    border-radius: 50px;
    border: 3px solid #013878;
    background: #E0EEFF;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #013878;
    font-size: 24px;
    font-weight: 600;
    line-height: 87.023%; /* 20.885px */
    letter-spacing: -0.6px;
}