.legalAdviceForm {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.submitButton {
    position: absolute;
    top: calc(100% + 3px);
    left: 0;
    border-radius: 30px;
    height: 62px;
    font-size: 28px;
    font-weight: 600;
}
