@import "../../../../../app/styles/exports";

.solutionCardPosition {
  position: relative;
  &__pointer {
    position: absolute;
    top: 45px;
    right: -80px;
    z-index: -1;
  }
}
.solutionCardWrapper {
  width: 466px;
  height: 350px;
  background-color: #cfe5ff;
  border-radius: 50px;
  padding: 34px 34px 51px 53px;
  margin-top: 75px;
  z-index: 3;

  &__text {
    width: 356px;
    @include home-card-text;
    color: $blue-color;
  }
}

.mobilePointer {
  display: none;
}

.solutionCardTitle {
  @include flex-between-center;
  margin-bottom: 24px;

  &__label {
    @include home-card-label;
    color: $blue-color;
  }
}

@media screen and (max-width: 1440px) {
  .solutionCardWrapper {
    width: 447px;
  }
}

@media screen and (max-width: 480px) {
    .solutionCardPosition {
      &__pointer {
        display: none; 
    }
  }
  .solutionCardWrapper {
    height: 245px;
    margin-top: 22px;
    padding: 30px 30px 48px 33px;

    &__text {
      @include home-card-text-mobile;
      width: 358px;
    }
  }

  .solutionCardTitle {
    margin-bottom: 8px;
    img {
      width: 45px;
      height: 45px;
    }
  }

  .mobilePointer {
    display: inline-block;
    position: absolute;
    bottom: -53px;
    left: 93px;
    z-index: 1;
  }

}