@import "../../../../../app/styles/exports";

.solutionCardPosition {
  position: relative;

  &__pointer {
    position: absolute;
    top: 45px;
    right: -80px;
    z-index: -1;
  }
}
.solutionCardWrapper {
  width: 466px;
  height: 350px;
  background-color: #cfe5ff;
  border-radius: 50px;
  padding: 34px 34px 51px 53px;
  margin-top: 75px;
  z-index: 3;

  &__text {
    width: 356px;
    @include home-card-text;
    color: $blue-color;
  }
}

.mobilePointer {
  display: none;
}

.solutionCardTitle {
  @include flex-between-center;
  margin-bottom: 24px;

  &__label {
    @include home-card-label;
    color: $blue-color;
  }
}

@media screen and (min-width: 1440px) and (max-width: 1920px) {
  .solutionCardWrapper {
    width: 447px;
  }
}

@media screen and (max-width: 1440px) {
  .solutionCardPosition__pointer {
    display: none;
  }

  .mobilePointer {
    display: inline-block;
    position: absolute;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .solutionCardWrapper {
    width: 100%;

    margin-top: 0;
    padding: 25px 30px 0 46px;
    height: 233px;
    border-radius: 35.3409px;

    .solutionCardTitle {
      margin-bottom: 20px;
      &__label {
        font-size: 22px;
        line-height: 90%;
      }
      img {
        width: 40.29px;
        height: 40.29px;
      }
    }

    &__text {
      width: 391px;
      font-size: 18px;
      line-height: 105%;
    }
  }

  .mobilePointer {
    left: 35px;
    bottom: -34px;
    width: 149.33px;  
    height: 63.83px;
    transform: rotate(8deg);
  }


}

@media screen and (max-width: 480px) {
    .solutionCardPosition {
      &__pointer {
        display: none; 
    }
  }
  .solutionCardWrapper {
    width: 100%;
    height: 100%;
    margin-top: 22px;
    padding: 30px 30px 48px 33px;

    &__text {
      @include home-card-text-mobile;
      max-width: 358px;
      width: auto;
    }
  }

  .solutionCardTitle {
    margin-bottom: 8px;

    &__label {
      @include home-card-label-mobile;
    }
    img {
      width: 45px;
      height: 45px;
    }
  }

  .mobilePointer {
    bottom: -53px;
    left: 93px;
    z-index: 1;
  }

}