@import 'app/styles/_exports.scss';

.aboutUsWrapper {
  padding: 0px 60px 0 60px;
}

.container {
  @include container;
}

.titleText {
  width: 1081px;
  margin: 0 auto;
}

.aboutUsInner {
  &__title {
    @include page-title;
    text-align: center;
    margin: 0 auto;
    width: 1081px;

    .titleEmphasized {
      color: #fff;
      padding: 8px 15px 14px 15px;
      border-radius: 20px;
      background-color: $blue-color;
      margin-right: 6px;
    }
  }

  .aboutUsCards {
    display: flex;
    margin-bottom: 145px;
  }

  .leftCards {
    display: flex;
  }
}

.titleTextAndSupportBot {
  display: flex;
  align-items: flex-start;
}

@media screen and (min-width: 1440px) and (max-width: 1920px) {
    .container {
      @include container-1440;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .aboutUsWrapper {
    padding: 45px 45px 0 45px;
  }
  .titleText {
    width: 764.07px;
    margin: 0 auto;
  }
  .aboutUsInner {
    .aboutUsCards {
      margin-top: 80px;
      margin-bottom: 90px;
    }
  }  

  .leftCards {
    flex-direction: column;
  }
}

@media screen and (max-width: 1024px) {
  .aboutUsInner {
    .aboutUsCards {
      flex-direction: column;
      margin-bottom: 70px;
    }
  }

  .leftCards {
    flex-direction: column;
  }
}

@media screen and (min-width: 640px) and (max-width: 1024px) {
  .aboutUsWrapper {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 60px;
  }

  .titleText {
    width: 579.57px;
  }

  .aboutUsInner {
    .aboutUsCards {
      margin-bottom: 90px;
    }
  }
}

@media screen and (max-width: 639px) {
  .aboutUsWrapper {
    padding: 0 15px 60px 15px;
  }

  .aboutUsInner {
    .aboutUsCards {
      margin-bottom: 70px;
    }
  }
}

@media screen and (min-width: 480px) and (max-width: 639px) {
  .titleText {
    width: 450px;
  }
}

@media screen and (max-width: 479px) {
  .titleText {
    width: 351px;
  }
}