@import "app/styles/exports";

.myButton {
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 40px;
  font-family: "Inter";
}

.primaryContained {
  color: #fff;
  background-color: $blue-color;
}

.secondaryContained {
  color: #fff;
  background-color: $orange-color;
}

.primaryOutlined {
  color: $blue-color;
  background-color: #fff;
  border: 2px solid $blue-color;
}

// size
.large {
  height: 78px;
  font-size: 28px;
  padding: 21px 0px 24px 0px;
  font-weight: 600;
  line-height: 24.37px;
}

.small {
  font-size: 24px;
  padding: 0 28px;
  height: 41px;
  font-weight: 600;
}

// === disabled ===

.disabled {
    pointer-events: none;
    opacity: .4;
}

// === disabled === 

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .small,.large {
    
  }
}

@media screen and (max-width: 480px) {
  .small,.large {
      font-size: 18px;
      line-height: 16px;
      height: auto;
      padding: 15px 65px;
      font-weight: 500;
  }
}