.lawyerAppealHeader {
    display: flex;
    align-items: center;
    position: relative;
}

.goBackButton {
    width: 327px;
    position: absolute;
    top: -17px;
    left: 0;
}

.lawyerAppealTitle {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &__h1 {
        color:#013878;
        font-size: 48px;
        font-weight: 600;
        line-height: 90%; /* 43.2px */
        letter-spacing: -1.2px;
        margin-bottom: 18px;
    }

    &__h2 {
        color: #FD7900;
        font-size: 30px;
        font-weight: 600;
        line-height: 90%; /* 27px */
        letter-spacing: -0.75px;
    }
}