.mobileChatContent {
    width: 390px;
    background-color: #fff;
    height: 732px;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
}

.blueBorder {
    position: absolute;
    top: 77px;
    left: -8px;
    width: 406px;
    height: 817px;
    border-radius: 30px;
    border: 2px solid var(--unnamed, #013878);
}

.chatLogoPosition {
    position: absolute;
    top: 22px;
    left: 50%;
    transform: translateX(-50%);

    img {
        width: 128px;
        height: 129.094px;
    }
}