.mobileChatContent {
    width: 390px;
    background-color: #fff;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    padding-bottom: 16px;
}

.blueBorder {
    position: absolute;
    top: 77px;
    left: -8px;
    width: 406px;
    height: 817px;
    border-radius: 30px;
    border: 2px solid var(--unnamed, #013878);
}

.chatLogoPosition {
    position: absolute;
    top: 22px;
    left: 50%;
    transform: translateX(-50%);

    img {
        width: 128px;
        height: 129.094px;
    }
}

.buttonContainer {
    display: flex;
    justify-content: center;
}

.toMobileLegalAdviceButton {
    width: 360px;
    height: 50px;
    border-radius: 30px;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 87.023%; /* 15.664px */
    letter-spacing: -0.45px;
}