.questionsListWrapper {
    border-radius: 30px;
    background: linear-gradient(180deg, #CCE4FF 0%, #FFF 100%);
    padding: 25px 15px;

    display: flex;
    flex-wrap: wrap;
    gap: 14px;

    margin-bottom: 50px;
}