@import "../../../app/styles/exports";

@mixin big-text {
  font-weight: 600;
  font-size: 40px;
  color: $blue-color;
  letter-spacing: -0.025em;
  line-height: 36px;
}

@mixin small-text {
  font-weight: 600;
  font-size: 20px;
  color: $blue-color;
  letter-spacing: -0.025em;
  line-height: 21px;
}

.container {
  @include container;
}
.contactsWrapper {
  margin-bottom: 180px;
  padding: 0 60px;

  &__title {
    @include page-title;
    margin: 0 auto 65px auto;
    max-width: fit-content;
  }
}

.contactsContent {
  position: relative;
  width: 100%;
  height: auto;
  border-radius: 50px;
  padding: 51px 56px 55.71px 45px;
  background-image: url("./assets/bg-contacts.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 65px;

  display: flex;
  align-items: flex-start;
  justify-content: center;
  column-gap: 60px;

  &__img {
    position: absolute;
    right: 65px;
    top: 40px;
    z-index: 2;
  }
}

.contentLeftColumn {
  width: 635px;
}

.leftColumnIcons {
  display: flex;
  align-items: flex-start;
  column-gap: 27px;
  margin-bottom: 83px;
}

.contentInfoFirst {
  margin-bottom: 73px;
}

.contentTitle {
  @include big-text;
  margin-bottom: 6px;
}

.contentParagraph {
  text-align: right;
  @include small-text;
}

.contentRightColumn {
  position: relative;

  &__img {
    position: absolute;
    top: 0;
    right: 0;
  }
  &__title {
    @include big-text();
    margin-bottom: 20px;
  }

  &__paragraph {
    @include small-text();
    width: 448px;
    margin-bottom: 43px;
  }
}

@media screen and (min-width: 1440px) and (max-width: 1920px) {
  .contactsContent {
    padding: 55px 38px 56px 37px;
    column-gap: 87px;
  }

  .contentLeftColumn {
    max-width: 585px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .contactsContent {
    height: auto;
    padding: 36px 28px 35px 26px;
    column-gap: 44px;
  }
  .contentLeftColumn {
    max-width: 430px;
  }
  
  .leftColumnIcons {
    justify-content: flex-start;
    column-gap: 20px;
  }
  .contentTitle {
    font-size: 28px;
    line-height: 90%;
  }
  .contentParagraph {
    font-size: 18px;
    line-height: 105%;
  }

  .contentRightColumn {
    &__img {
      width: 106.81px;
      height: 140.34px;
    }
    &__title {
      font-size: 28px;
      line-height: 90%;
    }
    &__paragraph {
      
      font-size: 18px;
      line-height: 105%;
      margin-bottom: 12px;
      width: 293px;
    }
  }
}

@media screen and (max-width: 1023px) {
  .contactsContent {
    padding: 0;
    flex-direction: column;
    height: auto;
    background: none;
    align-items: center;
  }

  .contactsContent {
    margin-top: 40px;
  }

  .contentLeftColumn {
    width: 100%;
  }

  .contentInfo {
    background-image: url("./assets/bg-contacts.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 640px) and (max-width: 1023px) {
  .contactsWrapper {
    padding: 0 30px;
    margin-bottom: 90px;
  }

  .leftColumnIcons {
    justify-content: center;
    column-gap: 24px;
    margin-bottom: 25px;
  }

  .contentInfo {
    padding: 60px 50px 60px 40px;
    border-radius: 20px;
    height: 364.48px;
    margin-bottom: 38px;

    .contentInfoFirst {
      margin-bottom: 50px;
    }

    .contentTitle {
      font-size: 28px;
      line-height: 90%;
      margin-bottom: 24px;
      width: 410px;
    }

    .contentParagraph {
      font-size: 22px;
      line-height: 105%;
    }
  }

  .contentRightColumn {
    width: 100%;
    &__img {
      top: -20px;
      right: 15px;
      width: 126.14px;
      height: 165.53px;
    }
    &__title {
      font-size: 28px;
      line-height: 90%;
      margin-bottom: 10px;
    }
    &__paragraph {
      font-size: 18px;
      line-height: 105%;
      margin-bottom: 23px;
    }
  }
}

@media screen and (max-width: 639px) {
  .contactsWrapper {
    padding: 0 15px;
    margin-bottom: 70px;
  }

  .leftColumnIcons {
    justify-content: center;
    margin-bottom: 20px;
  }

  .contentInfo {
    border-radius: 16px;

    .contentInfoFirst {
      margin-bottom: 38px;
    }

    .contentTitle {
      line-height: 90%;
      font-size: 22px;
      width: 321px;
    }
  }

  .contentRightColumn {
    &__img {
      top: -20px;
      width: 97.48px;
      height: 122.26px;
    }
    &__title {
      font-size: 22px;
      line-height: 90%;
      margin-bottom: 7px;
    }
    &__paragraph {
      font-size: 15px;
      line-height: 105%;
      margin-bottom: 16px;
      width: 338.2px;
    }
  }
}

@media screen and (min-width: 480px) and (max-width: 639px) {
  .contentInfo {
    padding: 46px 31px 45px 31px;
    height: 283px;
    margin-bottom: 30px;

    .contentTitle {
      margin-bottom: 18px;
    }

    .contentParagraph {
      line-height: 105%;
      font-size: 18px;
    }
  }

  .leftColumnIcons {
    column-gap: 19px;
  }

  .contentRightColumn {
    &__img {
      right: 12px;
    }
    &__paragraph {
      width: 338.2px;
    }
  }
}

@media screen and (max-width: 479px) {
  .contentInfo {
    padding: 32px 19px 31px 20px;
    height: 227px;
    margin-bottom: 30px;

    .contentTitle {
      margin-bottom: 10px;
    }

    .contentParagraph {
      font-size: 16px;
      line-height: 105%;
    }
  }

  .leftColumnIcons {
    column-gap: 10px;
  }

  .contentRightColumn {
    &__img {
      right: 19px;
    }
    &__paragraph {
      width: 245px;
    }
  }
}