@import "../../../../../app/styles/exports";

.blueCardWrapper {
  height: 221px;
  padding: 33px 24px 10px 33px;

  border-radius: 50px;
  background: $blueLinear-color;
  color: $blue-color;
  font-family: "Inter";
  font-size: 20px;
  font-weight: 600;
  line-height: 21px;
}

// === media ===
@media screen and (max-width: 1440px) {
  .blueCardWrapper {
    padding-left: 27px;
    padding-right: 20px;
    height: 197px;
  }
}

@media screen and (max-width: 480px) {
  .blueCardWrapper {
    border-radius: 30px;
    padding: 16px 21px 15px 21px;
    width: auto;
    height: auto;
    font-size: 15px;
    line-height: 16px;
  }
}
