.selectWrapper {
    position: relative;
}

.selectLabel {
    color: var(--unnamed, #013878);
    font-size: 18px;
    font-weight: 600;
    line-height: 105%; /* 18.9px */
    letter-spacing: -0.45px;
    margin-left: 20px;
}

.selectedOptionWrapper {
    width: 100%;
    height: 55px;
    border-radius: 27px;
    border: 3px solid #013878;
    padding: 0px 24px 0px 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    margin-top: 7px;

    .selectedOption {
        color: #013878;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: -0.45px;
        max-width: calc(100% - 20px);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .arrow {
        transform: rotate(-90deg);
        transition: transform .2s;
    }
    .openArrow {
        transform: rotate(0deg);
    }
}

.optionsList {
    position: absolute;
    top: calc(100% + 7px);
    width: 100%;
    border-radius: 27px;
    border: 3px solid #013878;
    padding: 22px 0;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    background-color: #fff;
    z-index: 1;

    .option {
        color: #013878;
        font-size: 18px;
        font-weight: 600;
        line-height: 105%; 
        letter-spacing: -0.45px;
        transition: .2s;
        padding: 4px 0 4px 29px; 

        &:hover {
            background: var(--unnamed, #CFE5FF);
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 490px) {
    .selectedOptionWrapper {
        border: 2px solid #013878;
        padding: 0px 19px 0px 20px;

        .arrow {
            width: 23px;
            height: 13px;
        }
    }

    .optionsList {
        height: 268px;
        overflow-y: auto;
        padding-top: 15px;
        padding-bottom: 15px;
        border: 2px solid #013878;

        .option {
            padding: 2px 0 2px 24px; 
        }
    }
}