@import "../../../../app/styles/exports";

.supportedByWrapper {
  @include center;
  position: relative;
  flex-direction: column;
  width: 308px;
  height: 341px;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50px 50px 0px 0px;
    padding: 3px;
    background: $blueLinear-color;
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }

  &__logo {
    margin-right: 25px;
  }

  p {
    font-weight: 600;
    font-size: 20px;
    color: $blue-color;
    letter-spacing: -0.025em;
    line-height: 17.4px;
    margin: 27px 0 21px 0;
  }
}

.mobileLogo {
  display: none;
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .supportedByWrapper {
    height: 241px;
    justify-content: flex-start;
    align-items: center;
    padding-top: 10px;

    &::before {
      border-radius: 35px 35px 0px 0px;
    }

    &__logo {
      width: 115.33px;
      height: 82.84px;
    }

    p {
      font-size: 15px;
      line-height: 87.02%;
      margin-top: 20px;
      margin-bottom: 12px;
    }

    .fsi {
      width: 104px;
      height: 50px;
    }
  }
}

@media screen and (max-width: 1023px) {
  .supportedByWrapper {
      width: 100%;
      flex-direction: row;
      height: auto;
  }
}

@media screen and (min-width: 640px) and (max-width: 1023px) {
  .supportedByWrapper {
    padding: 48px 43px 38px 20px;
    align-items: center;
    justify-content: space-between;

    &::before {
      border-radius: 38px 38px 0px 0px;
    }

    &__logo {
      width: 131.82px;
      height: 96.2px;
      margin-right: 0;
    }

    p {
      font-size: 18px;
      line-height: 87.02%;
      margin: 0 36px;
    }

    .fsi {
      width: 151px;
      height: 74px;
      align-self: flex-end;
    }
  }
}

@media screen and (max-width: 480px) {
  .supportedByWrapper {
    padding: 37px 0 80px 0;

    &::before {
      border-radius: 30px 30px 0px 0px;
    }

    &__logo {
      display: none;
    }

    .mobileLogo {
      display: inline-block;
      margin-right: 32px;
    }

    p {
      font-size: 15px;
      margin-right: 20px;
      align-self: flex-start;
    }

    .fsi {
      width: 118px;
      height: 57.71px;
      align-self: flex-end;
    }
  }
}