@import "../../../../app/styles/exports";

.supportedByWrapper {
  position: relative;
  @include center;
  flex-direction: column;
  width: 308px;
  height: 341px;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50px 50px 0px 0px;
    padding: 3px;
    background: $blueLinear-color;
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }

  &__logo {
    margin-right: 25px;
  }

  p {
    font-weight: 600;
    font-size: 20px;
    color: $blue-color;
    letter-spacing: -0.025em;
    line-height: 17.4px;
    margin: 27px 0 21px 0;
  }
}
