.emptyPlaceholderWrapper {
    text-align: center;
    margin-top: 90px;
    margin-bottom: 73px;
}

.emptyPlaceholderTitle {
    color: #013878;
    font-size: 48px;
    font-weight: 600;
    line-height: 90%; /* 43.2px */
    letter-spacing: -1.2px;
    max-width: 1050px;
    margin: 0 auto 29px auto;
}

.emptyPlaceholderText {
    color: #013878;
    font-size: 30px;
    font-weight: 600;
    line-height: 90%; /* 27px */
    letter-spacing: -0.75px;
    max-width: 1050px;
    margin: 0 auto 35px auto;

    span {
        color: #FD7900;
    }
}

.emptyPlaceholderButton {
    width: 254px;
    height: 78px;
    border-radius: 40px;
    font-size: 28px;
    font-weight: 600;
    line-height: 87.023%; /* 24.366px */
    letter-spacing: -0.7px;
    margin-bottom: 34px;
}