@import "app/styles/exports";

.contactForm {
  height: 625px;
  border: 3px solid $blue-color;
  border-radius: 50px;
  background: $blueLinear-color;
  padding: 44px 39px 39px 48px;
  z-index: 10;
  position: relative;
  z-index: 2;

  &__img {
    position: absolute;
    top: -156px;
    right: 0;
    z-index: 2;
  }
}

.contactInputs {
  display: flex;
  flex-direction: column;
  row-gap: 17px;
  margin-bottom: 9px;

  &__input {
    font-family: "Inter";
    width: 100%;
    height: 70px;
    border: 3px solid $blue-color;
    border-radius: 30px;
    color: $blue-color;
    font-size: 20px;
    font-weight: 600;
    padding: 25px 25px 25px 22px;
    outline: none;

    &::placeholder {
      opacity: 0.4;
      color: $blue-color;
    }
  }
}

.contactParagraph {
  font-family: "Inter";
  font-weight: 600;
  font-size: 18px;
  color: $blue-color;
  line-height: 15.66px;
  letter-spacing: -0.025em;
  margin-bottom: 15px;
  margin-left: 10px;

  span {
    text-decoration: underline;
  }
}

textarea {
  resize: none;
  height: 222px !important;
}

@media screen and (max-width: 1439px) {
  .contactForm {
    height: auto;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .contactForm {
    border-radius: 35px;
    padding: 33px 26px 28px 26px;
  }

  .contactInputs {
    row-gap: 10px;
    &__input {
      border-radius: 21px;
      padding: 15px;
    }
  }

  .contactParagraph {
    font-size: 15px;
    line-height: 100%;
    margin-bottom: 10px;
  }

  .submitButton {
      padding: 0;
      font-size: 19.8121px;
      line-height: 87.02%;
      height: 55.19px;
  }
}

@media screen and (max-width: 1023px) {
  .contactForm {
    width: 100%;
    max-width: 100%;
  }

  .submitButton {
    padding: 0;
  }
}

@media screen and (min-width: 640px) and (max-width: 1023px) {
  .contactForm {
    border-radius: 38px;
    padding: 42.5px;
  }  

  .contactInputs {
    row-gap: 12px;

    &__input {
      border-radius: 25px;
      padding: 19px;
      font-size: 18px;
      line-height: 105%;
    }
  }

  .contactParagraph {
    font-size: 16px;
    line-height: 100%;
    margin-bottom: 16px;
  }

  .submitButton {
    font-size: 23.3973px;
    line-height: 87.02%;
    height: 65.68px;
  }
}

@media screen and (max-width: 639px) {
  .contactForm {
    border-radius: 30px;
  }  

  .contactInputs {
    row-gap: 10px;

    &__input {
      border-radius: 20px;
      padding: 15px;
      font-size: 12px;
      line-height: 105%;
      height: 46px;
    }
  }

  .contactParagraph {
    font-size: 12px;
    line-height: 100%;
    margin-bottom: 13px;
  }


  .submitButton {
    font-size: 18.1666px;
    line-height: 87.02%;
    height: 51px;
  }
}

@media screen and (min-width: 480px) and (max-width: 639px) {
    .contactForm {
      padding: 33px;
    }  
}

@media screen and (max-width: 479px) {
    .contactForm {
      padding: 30px 20px
    }  
}