@import "../../../app/styles/exports";

.aboutUsWrapper {
  padding-bottom: 145px;
}
.container {
  @include container;
}

.aboutUsInner {
  &__title {
    @include page-title;
    text-align: center;
    margin: 0 auto;
    width: 1081px;

    .titleEmphasized {
      color: #fff;
      padding: 8px 15px 14px 15px;
      border-radius: 20px;
      background-color: $blue-color;
      margin-right: 6px;
    }
  }

  .aboutUsCards {
    display: flex;
    margin-bottom: 145px;
  }
}

@media screen and (max-width: 1440px) {
  .container {
    @include container-1440;
  }
}

@media screen and (max-width: 480px) {
  .aboutUsWrapper {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 60px;
  }
  
  .container {
    @include container-mobile;
  }

  .aboutUsInner {
    .aboutUsCards {
      flex-direction: column;
      margin-bottom: 70px;
    }
  }

}