@import "../../../app/styles/exports";

.aboutUsWrapper {
  padding-bottom: 145px;
}

.container {
  @include container;
}

.titleText {
  width: 1081px;
  margin: 0 auto;
}

.aboutUsInner {
  &__title {
    @include page-title;
    text-align: center;
    margin: 0 auto;
    width: 1081px;

    .titleEmphasized {
      color: #fff;
      padding: 8px 15px 14px 15px;
      border-radius: 20px;
      background-color: $blue-color;
      margin-right: 6px;
    }
  }

  .aboutUsCards {
    display: flex;
    margin-bottom: 145px;
  }

  .leftCards {
    display: flex;
  }
}

@media screen and (min-width: 1440px) and (max-width: 1920px) {
    .container {
      @include container-1440;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .container {
    @include container-934px;
  }

  .aboutUsInner {
    .aboutUsCards {
      margin-top: 80px;
      margin-bottom: 90px;
    }
  }  

  .leftCards {
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .aboutUsWrapper {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 60px;
  }
  
  .container {
    @include container-mobile;
  }

  .aboutUsInner {
    .aboutUsCards {
      flex-direction: column;
      margin-bottom: 70px;
    }
  }

}