.editProfileContent {
    position: relative;
    height: 78px;
    margin-bottom: 23px;

    .userFioInformation {
        width: 100%;
        height: 78px;
        border-radius: 50px;
        background-color: #E0EEFF;
        padding: 26px 0 26px 63px;
    
        color: #013878;
        font-size: 30px;
        font-weight: 600;
        line-height: 87.023%; /* 26.107px */
        letter-spacing: -0.75px;
    }

    .goBackButton {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 183px;
        border-radius: 40px;
        font-size: 28px;
        font-weight: 600;
        line-height: 87.023%; /* 24.366px */
        letter-spacing: -0.7px;
    }
}

@media screen and (max-width: 480px) {
    .editProfileContent {
        height: auto;
        position: static;
        display: flex;
        flex-direction: column-reverse;
        row-gap: 15px;

        .userFioInformation {
            height: auto;
            background-color: transparent;
            padding: 0;
            border: none;
            font-size: 22px;
            font-weight: 600;
            line-height: 105%; /* 23.1px */
            letter-spacing: -0.55px;
        }

        .goBackButton {
            width: 102px;
            height: 50px;
            position: static;
            align-self: flex-end;
            font-size: 18px;
            font-weight: 600;
            line-height: 87.023%; /* 15.664px */
            letter-spacing: -0.45px;

        }
    }

}