.answerList {
    margin-bottom: 17px;
    padding: 20px;
}

.contentHelperText {
    color: var(--unnamed, #013878);
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 18px */
    letter-spacing: -0.45px;
}