@import "../../../../../app/styles/exports";

.additionalCardWrapper {
  width: 466px;
  height: 316px;
  background-color: #ffe7d1;
  border-radius: 50px;
  padding: 35px 34px 63px 55px;
  margin-top: 45px;
  z-index: -2;

  &__text {
    @include home-card-text;
    color: $orange-color;
  }
}

.additionalCardTitle {
  @include flex-between-center;
  margin-bottom: 22px;

  &__label {
    @include home-card-label;
    color: $orange-color;
  }
}


// === media ===

@media screen and (max-width: 1440px) {
  .additionalCardWrapper {
    width: 437px;
  } 
}

@media screen and (max-width: 480px) {
  .additionalCardWrapper {
    height: 229px;
    margin-top: 22px;
    padding: 30px 30px 48px 33px;

    &__text {
      @include home-card-text-mobile;
      width: 348px;
    }

    .additionalCardTitle {
      margin-bottom: 8px;

      &__label {
        @include home-card-label-mobile;
      }

      img {
        width: 45px;
        height: 45px;
      }
    }

  }
}