@import "../../../../../app/styles/exports";

.additionalCardWrapper {
  width: 466px;
  height: 316px;
  background-color: #ffe7d1;
  border-radius: 50px;
  padding: 35px 34px 63px 55px;
  margin-top: 45px;
  z-index: -2;

  &__text {
    @include home-card-text;
    color: $orange-color;
  }
}

.additionalCardTitle {
  @include flex-between-center;
  margin-bottom: 22px;

  &__label {
    @include home-card-label;
    color: $orange-color;
  }
}
