.supportChatWrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
    z-index: 10;
    display: none;
}

.supportChatVisible {
    display: flex;
    align-items: center;
    justify-content: center;
}

.supportChatWindow {
    display: flex;
}

.lawyerConsultationButton {
    height: 62px;
    padding: 0;
    color: #FFF;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 87.023%; /* 24.366px */
    letter-spacing: -0.7px;
}