@import "../../../app/styles/exports";

.themesWrapper {
  margin-bottom: 180px;
  .container {
    @include container;
  }

  &__title {
    margin: 0 auto 65px auto;
    width: fit-content;
    @include page-title;
  }

  .themesContent {
    position: relative;
    width: 100%;
    height: 680px;
    background: $blueLinear-color;
    border-radius: 50px;
  }
}
