.legalAdviceForm {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.submitButton {
    position: absolute;
    top: calc(100% + 3px);
    left: 0;
    border-radius: 30px;
    height: 62px;
    font-size: 28px;
    font-weight: 600;
}

.textareaRadius {
    border-radius: 27px;
}

@media screen and (max-width: 490px) {
    .legalAdviceForm {
        row-gap: 7px;
    }
    .submitButton {
        position: static;
        font-size: 18px;
        height: 50px;
    }
}