@import "../../../app/styles/exports";
@mixin columnView {
  position: relative;
  width: 685px;
  height: 710px;
  border-radius: 50px;
  padding: 38px 30px 99px 30px;
  display: flex;
  flex-direction: column;
}

@mixin title-text {
  font-family: "Inter";
  font-size: 48px;
  line-height: 43.2px;
  font-weight: 600;
}

@mixin button {
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
}

.primaryViewWrapper {
  margin-top: 40px;
  height: 855.25px;
}

.container {
  @include container;
}

.primaryViewInner {
  position: relative;

  display: flex;
  column-gap: 30px;
  &__human {
    position: absolute;
    top: 217px;
    left: 349px;
  }
}

.viewLeftColumn {
  @include columnView();
  background: $blueLinear-color;

  .leftColumnIllustration {
    display: flex;

    &__text {
      font-family: "Inter";
      font-size: 28px;
      font-weight: 500;
      font-style: italic;
      color: $blue-color;
      line-height: 24.37px;
      transform: rotate(-12deg);
      position: absolute;
      bottom: 293.66px;
      left: 295.86px;
    }

    &__img {
      position: absolute;
      bottom: 198.78px;
      left: 137.62px;
    }
  }

  &__title {
    @include title-text();
    color: $blue-color;
  }

  &__btn {
    @include button;

    button {
      max-width: 300px;
    }
  }
}

.viewRightColumn {
  @include columnView();
  background: $orangeLinear-color;

  &__title {
    @include title-text();
    color: $orange-color;
  }

  &__btn {
    @include button;
    justify-content: flex-end;
    button {
      max-width: 382px;
    }
  }

  .rightColumnItalic {
    text-align: center;
    position: absolute;
    bottom: 309px;
    left: 189px;
    font-family: "Inter";
    font-weight: 500;
    font-style: italic;
    font-size: 24px;
    line-height: 20.89px;
    color: $orange-color;
    width: 306px;
    letter-spacing: -0.025rem;
    transform: rotate(-12.57deg);
  }
}
