@import "../../../app/styles/exports";

@mixin columnView {
  position: relative;
  width: 685px;
  height: 710px;
  border-radius: 50px;
  padding: 40px 30px 90px 30px;
  display: flex;
  flex-direction: column;
}

@mixin columnView-mobile {
  width: 300px;
  height: 210px;
  border-radius: 20px;
}

@mixin title-text {
  font-family: "Inter";
  font-size: 48px;
  line-height: 43.2px;
  font-weight: 600;
}

@mixin title-mobile {
  font-size: 20px;
  line-height: 18px;
}

@mixin button {
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
}

.primaryViewWrapper {
  margin-top: 40px;
  height: 855.25px;
}

.container {
  @include container;
}

.primaryViewInner {
  position: relative;
  display: flex;
  column-gap: 30px;

  &__human {
    position: absolute;
    top: 217px;
    left: 349px;
  }
}

.viewLeftColumn {
  @include columnView();
  background: $blueLinear-color;

  .leftColumnIllustration {
    display: flex;

    &__text {
      font-family: "Inter";
      font-size: 22px;
      font-weight: 500;
      font-style: italic;
      color: $blue-color;
      line-height: 19px;
      transform: rotate(-12deg);
      width: 290.2px;

      position: absolute;
      bottom: 371px;
      left: 120px;
    }

    &__img {
      position: absolute;
      bottom: 228.78px;
      left: 10px;
      transform: rotate(-42.02deg);
    }
  }

  &__title {
    @include title-text();
    color: $blue-color;
  }

  &__btn {
    @include button;

    button {
      max-width: 300px;
    }
  }
}

.viewRightColumn {
  @include columnView();
  background: $orangeLinear-color;

  &__title {
    @include title-text();
    color: $orange-color;
  }

  &__btn {
    @include button;
    justify-content: flex-end;
    button {
      max-width: 382px;
    }
  }

  .rightColumnItalic {
    position: absolute;
    bottom: 346px;
    left: 216px;
    font-family: "Inter";
    font-weight: 500;
    font-style: italic;
    font-size: 22px;
    line-height: 19px;
    color: $orange-color;
    width: 275px;
    letter-spacing: -0.025rem;
    transform: rotate(12.57deg);
  }
}

@media screen and (max-width: 480px) {
  .container {
    @include container-mobile;
  }

  .primaryViewInner {
    flex-direction: column;

    &__human {
      width: 173px;
      height: 227px;
    }
  }

  .viewLeftColumn {
    @include columnView-mobile;

    .leftColumnIllustration {
      &__text {
        font-size: 11px;
        line-height: 9.57px;
      }
    }

    &__title {
      @include title-mobile;
    }
  }

  .viewRightColumn {
    @include columnView-mobile;
    .rightColumnItalic {
      font-size: 11px;
      line-height: 9.57px;
    }
    &__title {
      @include title-mobile;
    }
  }
}
