.passwordInputsWrapper {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    margin-bottom: 34px;
}

.passwordInput {
    .passwordLabel {
        color: #013878;
        font-size: 20px;
        font-weight: 600;
        line-height: 105%; /* 21px */
        letter-spacing: -0.5px;
        margin-bottom: 23px;
    }
}

.submitFormButton {
    width: 246px;
    height: 70px;

    font-size: 28px;
    font-weight: 600;
    line-height: 87.023%; 
    letter-spacing: -0.7px;
}