@import "../../../../../app/styles/exports";

.whiteCardWrapper {
  height: 173px;
  padding: 33px 42px 10px 33px;
  border: 3px solid $blue-color;
  background-color: #fff;
  border-radius: 50px;
  font-family: "Inter";
  font-size: 30px;
  font-weight: 600;
  line-height: 27px;
}
