@import "../../../../../app/styles/exports";

.whiteCardWrapper {
  min-height: 173px;
  padding: 33px 0px 10px 33px;
  border: 2px solid $blue-color;
  color: $blue-color;
  background-color: #fff;
  border-radius: 50px;
  font-family: "Inter";
  font-size: 30px;
  font-weight: 600;
  line-height: 27px;
}

@media screen and (max-width: 1440px) {
}
