@import "../../../../../app/styles/exports";

.whiteCardWrapper {
  min-height: 173px;
  padding: 33px 24px 10px 33px;
  border: 2px solid $blue-color;
  color: $blue-color;
  background-color: #fff;
  border-radius: 50px;
  font-family: "Inter";
  font-size: 30px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: -0.025em;
}

// === media ===
@media screen and (max-width: 1440px) {
  .whiteCardWrapper {
    padding-left: 27px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 480px) {
  .whiteCardWrapper {
    border-radius: 30px;
    padding: 19px 21px 21px 22px;
    width: auto;
    height: auto;
    min-height: auto;
    font-size: 18px;
line-height: 90%;
  }
}
