@import "../vars";

@mixin container-934px {
    max-width: $width-1024;
    width: 100%;
    margin: 0 auto;
}

@mixin container-580px {
    max-width: $width-580;
    width: 100%;
    margin: 0 auto;
}