@import "../../../../app/styles/exports";

@mixin paragraph {
  color: $orange-color;
  font-weight: 600;
  font-size: 20px;
  line-height: 17px;
  letter-spacing: -0.025em;
}

.contactsAndLinksWrapper {
  width: 540px;
  height: 341px;
  background: $orangeLinear-color;
  padding: 40px 30px 0px 40px;
  border-radius: 50px 50px 0px 0px;
}

.linksAndEmails {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;

  .linksImages {
    display: flex;
    align-items: center;
    column-gap: 7px;
  }
}

.emailsText {
  display: flex;
  flex-direction: column;
  row-gap: 8px;

  &__paragraph {
    @include paragraph;
    text-align: right;
  }
}
.userRigths {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  &__paragraph {
    @include paragraph;
    text-align: right;
  }

  &__year {
    @include paragraph;
  }
}
