@import "../../../../app/styles/exports";

@mixin paragraph {
  color: $orange-color;
  font-weight: 600;
  font-size: 20px;
  line-height: 17px;
  letter-spacing: -0.025em;
}

.contactsAndLinksWrapper {
  width: 540px;
  height: 341px;
  background: $orangeLinear-color;
  padding: 40px 30px 0px 40px;
  border-radius: 50px 50px 0px 0px;
}

.linksAndEmails {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;

  .linksImages {
    display: flex;
    align-items: center;
    column-gap: 7px;
  }
}

.emailsText {
  display: flex;
  flex-direction: column;
  row-gap: 8px;

  &__paragraph {
    @include paragraph;
    text-align: right;
  }
}
.userRigths {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  &__paragraph {
    @include paragraph;
    text-align: right;
  }

  &__year {
    @include paragraph;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .contactsAndLinksWrapper {
    height: 241px;
    border-radius: 35px 35px 0px 0px;
    padding: 27px 25px 0 31px;
  }

  .linksAndEmails {
    margin-bottom: 43px;
  }

  .socials {
    width: 39px;
    height: 39px;
  }

  .emailsText {
    &__paragraph {
      font-size: 15px;
      line-height: 87.02%;
      /* identical to box height, or 13px */
    }
  }

  .userRigths {
    &__paragraph, &__year {
      font-size: 15px;
      line-height: 87.02%;
      /* identical to box height, or 13px */  
    }
  }
}

@media screen and (max-width: 1023px) {
  .contactsAndLinksWrapper {
    width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 640px) and (max-width: 1023px) {
  .contactsAndLinksWrapper {
    padding: 54px 43px 74px 42px;
      border-radius: 38.6379px 38.6379px 0px 0px;
  }
}

@media screen and (max-width: 480px) {
  .contactsAndLinksWrapper {
    border-radius: 30px;
    padding: 40px 23px 85px 33px;
    transform: translateY(-100px);
    z-index: 3;
  }

  .linksAndEmails {
    .linksImages {
      img {
        width: 44px;
        height: 43px;
      }
    }
  }

  .emailsText {
    &__paragraph {
      font-size: 18px;
      line-height: 16px;
    }
  }
  .userRigths {
    &__paragraph {
      font-size: 18px;
      line-height: 16px;
    }
    &__year {
      font-size: 18px;
      line-height: 16px;
    }
  }

  
}