.botButton {
    position: fixed;
    z-index: 9;
    bottom: 0;
    right: 60px;
    img {
        cursor: pointer;
    }
}

@media screen and (max-width: 490px) {
    .botButton {
        img {
            width: 84.317px;
            height: 81.145px;
        }
    }
}
