.inputWrapper {
    display: flex;

    .input {
        height: 81px;
        font-size: 30px;
        font-weight: 600;
        line-height: 90%; /* 27px */
        letter-spacing: -0.75px;
        padding: 26px 26px 28px 40px;
    }
}

.passwordButton {
    width: 233px;
    height: 81px;
}