.submitForm {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

.submitButton {
    border-radius: 40px;
    height: 78px;
    width: 246px;
    font-size: 28px;
    font-weight: 600;
    line-height: 87.023%; /* 24.366px */
    letter-spacing: -0.7px;
}