
.topAdviceContent {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 10px;
}

.topLeftColumnContent {
    display: flex;
    align-items: center;
}

.topLeftContentText {
    color: var(--unnamed, #013878);
    font-weight: 600;
    margin-left: 30px;

    .topLeftContentTitle {
        font-size: 22px;
        line-height: 90%; /* 19.8px */
        letter-spacing: -0.55px;
        margin-bottom: 14px;
    }

    .topLeftContentParagraph {
        font-size: 18px;
        line-height: 105%; /* 18.9px */
        letter-spacing: -0.45px;
        max-width: 691px;
    }
}

.topRightNavigationButtons {
    display: flex;
    align-items: center;
    column-gap: 20px;
    position: absolute;
    right: 20px;
    top: 20px;
}

.closeSvgButton {
    cursor: pointer;
}

.backToSupportChat {
    display: flex;
    align-items: center;
    column-gap: 9px;
    cursor: pointer;

    &__text {
        color: var(--unnamed, #013878);
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: 87.023%; /* 13.053px */
        letter-spacing: -0.375px;
        // width: 83px;
    }
}

@media screen and (max-width: 490px) {
    .topAdviceContent {
        flex-direction: column-reverse;
        align-items: center;
        margin-bottom: 20px;
    }
    .topLeftColumnContent {
        flex-direction: column;
        row-gap: 16px;
        text-align: center;
    }

    .topRightNavigationButtons {
        position: static;
        justify-content: space-between;
        width: 100%;
    }

    .topLeftContentText {
        margin-left: 0;
        max-width: 333px;
        margin: 0 auto;
    }
}