@import "../../../../app/styles/exports";

.navigationLinksWrapper {
  position: relative;
  width: 509px;
  height: 341px;
  background: $blueLinear-color;
  border-radius: 50px 50px 0px 0px;
  padding: 40px 40px 40px 50px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.person {
  position: absolute;
  bottom: 0;
  right: -110px;
}

.navigationLinks {
  display: flex;
  flex-direction: column;
  row-gap: 18px;

  .link {
    font-weight: 600;
    font-size: 20px;
    letter-spacing: -0.025em;
    line-height: 17.4px;
    color: $blue-color;
    cursor: pointer;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .navigationLinksWrapper {
    padding: 27px 31px 0 31px;
  border-radius: 35px 35px 0px 0px;
    height: 241px;
    .pointer {
      width: 39.62px;
      height: 39.62px;
    }
    .person {
      width: 142.35px;
      height: 186.8px;
      right: -75px;
    }
  }
  .navigationLinks {
    row-gap: 11px;
    .link {
      font-size: 15px;
      line-height: 87.02%;
    }
  }
}

@media screen and (max-width: 480px) {
  .navigationLinksWrapper {
    width: 100%;
    height: auto;
    padding: 35px 34px 104px 33px;
    border-radius: 30px;
    transform: translateY(-50px);
  }

  .navigationLinks {
    .link {
      font-size: 18px;
      line-height: 16px;
    }
  }
}