@import "../../../../app/styles/exports";

.navigationLinksWrapper {
  position: relative;
  width: 509px;
  height: 341px;
  background: $blueLinear-color;
  border-radius: 50px 50px 0px 0px;
  padding: 40px 40px 40px 50px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.person {
  position: absolute;
  bottom: 0;
  right: -110px;
}

.navigationLinks {
  display: flex;
  flex-direction: column;
  row-gap: 18px;

  .link {
    font-weight: 600;
    font-size: 20px;
    letter-spacing: -0.025em;
    line-height: 17.4px;
    color: $blue-color;
    cursor: pointer;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .navigationLinksWrapper {
    padding: 27px 31px 0 31px;
    border-radius: 35px 35px 0px 0px;
    height: 241px;
    .pointer {
      width: 39.62px;
      height: 39.62px;
    }
    .person {
      width: 142.35px;
      height: 186.8px;
      right: -75px;
    }
  }
  .navigationLinks {
    row-gap: 11px;
    .link {
      font-size: 15px;
      line-height: 87.02%;
    }
  }
}


@media screen and (max-width: 1023px) {
  .navigationLinksWrapper {
    width: 100%;
    height: auto;

    .person {
      transform: matrix(-1, 0, 0, 1, 0, 0);
      left: 42.5%;
    }
  }
}

@media screen and (min-width: 640px) and (max-width: 1023px) {
  .navigationLinksWrapper {
      border-radius: 38.6379px 38.6379px 0px 0px;
      padding: 53px 43px 83px 42px;

      .pointer {
        width: 72.12px;
        height: 72.12px;
      }
      .person {
        width: 173.87px;
        height: 228.16px;
      }
  }

  .navigationLinks {
    row-gap: 22px;
    .link {
      font-size: 22px;
      line-height: 87.02%;
    }
  }
}

@media screen and (max-width: 639px) {
  .navigationLinksWrapper {
    border-radius: 30px;
  }

  .navigationLinks {
    .link {
      font-size: 18px;
      line-height: 16px;
    }
  }
}

@media screen and (min-width: 480px) and (max-width: 639px) {
  .navigationLinksWrapper {
    padding: 35px 34px 54px 33px;

    .pointer {
      width: 56px;
      height: 56px;
    }
    .person {
      width: 135px;
      height: 177.15px;
    }
  }
}

@media screen and (max-width: 479px) {
  .navigationLinksWrapper {
    padding: 30px 19px 77px 20px;

    .pointer {
      width: 47px;
      height: 47px;
    }
    .person {
      width: 122.81px;
      height: 161.15px;
    }
  }  
}