@import "../../styles/vars";

.myButton {
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 35px;
}

.primaryContained {
  color: #fff;
  background-color: $blue-color;
}

.secondaryContained {
  color: #fff;
  background-color: $orange-color;
}

.primaryOutlined {
  color: $blue-color;
  background-color: #fff;
  border: 2px solid $blue-color;
}

// size
.large {
  font-size: 28px;
  padding: 21px 0px 24px 0px;
  font-weight: 600;
  line-height: 24.37px;
}

.small {
  font-size: 24px;
  padding: 0 28px;
  height: 41px;
}
