@import "../../styles/vars";

.myButton {
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 35px;
  font-weight: 600;
}

.primaryContained {
  color: #fff;
  background-color: $blue-color;
}

.primaryOutlined {
  color: $blue-color;
  background-color: #fff;
  border: 2px solid $blue-color;
}

// size
.large {
  font-size: 28px;
  padding: 21px 50px 24px 50px;
}

.small {
  font-size: 24px;
  padding: 0 28px;
  height: 41px;
}
