.label {
    display: flex;
    align-items: center;
    column-gap: 9px;
}

.checkbox {
    display: none;
}

.fake {
    display: inline-block;
    min-width: 32px;
    height: 32px;
    border-radius: 10px;
    border: 3px solid var(--unnamed, #013878);
    position: relative;
}

.fake::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 31px;
    height: 25px;
    background-image: url("./assets/checked.svg?url");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
    transition: .2s;
}

.checkbox:checked + .fake::before {
    opacity: 1;
}

.text {
    color: var(--unnamed, #013878);
    font-family: 'Inter';
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 15px */
    letter-spacing: -0.375px;

    .colored {
        color: var(--unnamed, #FD7900);
    }
}

@media screen and (max-width: 490px) {
    .label {
        align-items: flex-start;
    }
    .fake {
        border: 2px solid var(--unnamed, #013878);
    }
}